/* Write CSS code here */
.name{
    margin-left: 250px;
    font-family: cursive;
    padding: 30px;
    width: 40px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    border: 7px solid black;
    border-radius: 18%;
}

#images{
    margin-left: 500px;
}
img{
    margin-left: 160px;
}
#container1{
    color: rgb(255, 255, 255);
    border:20px rgb(122, 94, 91);
    background-color: salmon;
    display: block;
    padding: 15px;
    padding-top: 5px;
    text-align: center;
    margin-right: 350px;
    text-transform: uppercase;
    font-size: large;

}
.sam{
    font-family: 'Courier New', Courier, monospace;
   
    font-size:250%;
    margin-left: 45px;
    font-weight: bold;
    color: black;
   
    
}
.designer{
    font-size: larger;
    margin-right: 390px;
    font-weight: bold;
    color:grey;
    text-align: center;
}
.horizontal{
    border:200px salmon;
    background-color: salmon;
    display:block;
    block-size: px;
    margin-right: 350px;
    border-radius: 10px;
}
.featured{
    color: grey;
    margin: left 30px;
}
.line{
    color: grey;
    margin-right: 350px;

}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: large;
}

ul{
    list-style: none;
}

.nav1{
    margin-left: 470px;
    align-items: center;
  
}
nav{
    margin-left: 470px;
}
body{
    background-color:aliceblue ;
}